-var title = "<projectName>";
-var siteUrl = "/"
-var siteImage = "img/logo.png"
-var siteDesc = "Ovaj sajt je odlican zato sto ga pravi Maverick"
-var pageSeparator = " - ";
-var imagePath = "images";
- function slugify(text) {return text.toString().toLowerCase().replace(/\s+/g, '-').replace(/[^\w\-]+/g, '').replace(/^-+/, '').replace(/-+$/, '')};